[Unit]
Description= sync_with_remote service
#OnFailure=my-app-recovery.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/bash /home/ubuntu/App/src/sync_with_remote.sh
WorkingDirectory=/home/ubuntu/App/src
User=ubuntu
StandardOutput=null
RestartSec=5

[Install]
WantedBy=multi-user.target

#ubuntu
ExecStart=/usr/bin/bash /home/ubuntu/App/src/sync_with_remote.sh
WorkingDirectory=/home/ubuntu/App/src


sudo vim /etc/systemd/system/sync_with_remote.service
sudo chmod +x /etc/systemd/system/sync_with_remote.service
sudo systemctl daemon-reload
sudo systemctl enable sync_with_remote.service
sudo systemctl start sync_with_remote.service
 
https://medium.com/@mailmeonriju/how-to-write-a-custom-systemctl-linux-service-for-python-scripts-with-virtualenv-and-env-file-c63c4625cbd7