[Unit]
Description= sync_with_remote service
#OnFailure=my-app-recovery.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/bash /home/ubuntu/App/src/sync_with_remote.sh
WorkingDirectory=/home/ubuntu/App/src
User=ubuntu
StandardOutput=null
RestartSec=5

[Install]
WantedBy=multi-user.target
